/* ESTILOS GENERALES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAVBAR */
.logo{
    width: 350px;
    height: 70px;
    margin: 15px 0 15px 0
}

.nav-item:hover{
    background: #000;
    border-radius: 5px;
}

.cart{
    margin-right: 20px;
    display: flex;
}

.containerCount{
    width: 200px;
    display: flex;
}

.containerCount div input{
    width: 60px;
    margin:  0 10px 0 10px;
}

.containerCount div button{
    width: 50px;
}

.btn-compra{
    margin-top: 10px;
}

.containerCard{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    flex-wrap: wrap;
}


.card{
    width: 300px;
} 


/* INICIO */

.containerVideo{
    display: flex;
    margin: 20px 0 0 0;
}

.containerVideo video{
    width: 80%;
    margin: 0 auto;
}

.containerVideo img{
    width: 80%;
    margin: 0 auto;
}

/* CARDS*/

.card{
    margin-bottom: 30px;
}

.card .card-img-top{
    width: 100%;
    height: 400px;
}

.card .card-body h5{
    height: 50px;
}

.precio{
    font-size: 20px;
    margin: 15px 0;
}

/* DETALLE DE PRODUCTO */
.containerDetalle{
    width: 800px;
    margin: 20px auto;
}

/* BOTONES DE FINALIZAR COMPRA O SEGUIR */

.endContinue{
    display: flex;
    justify-content: space-around;
}

/* LISTA DEL CARRITO */

.listaCarrito{
    color: rgb(218, 216, 216);
    background: rgb(33,37,41);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete{
    color: white;
    outline: none;
    text-decoration: none;
}

.delete:focus {
    outline: none;
    box-shadow: none;
  }

.delete:hover{
    color: red;
}

.cantidadAgregada{
    background: white;
    color: #000;
}

.circle{
    position: absolute;
    top: 0;
    right: 11px;
    font-size: 17px;
    border-radius: 50%;
    background: white;
    color: black;
    padding: 1px;
    width: 20px;
}

.cajaVacio{
    text-align: center;
    margin-top: 20px;
}

.cajaTotal{
    text-align: center;
}

.spinner{
    margin-top: 150px;
    text-align: center;
}

.vaciarFinalizar{
    text-align: center;
}

.vaciarFinalizar .vaciar{
    margin-right: 30px;
}

.swal-button {
    padding: 7px 19px;
    border-radius: 2px;
    background-color: #000;
    font-size: 12px;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

.modificarP{
    float: right;
}
